<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFinancialPostingService" />
                <binding name="BasicHttpBinding_IStaticTransactionsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4063/fanikiwaMpesaWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinancialPostingService"
                contract="fanikiwaMpesaWcfServiceProxy.IFinancialPostingService"
                name="BasicHttpBinding_IFinancialPostingService" />
            <endpoint address="http://localhost:4063/fanikiwaMpesaWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaticTransactionsService"
                contract="fanikiwaMpesaWcfServiceProxy.IStaticTransactionsService"
                name="BasicHttpBinding_IStaticTransactionsService" />
        </client>
    </system.serviceModel>
</configuration>