<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			   listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				 fileName="log\fanikiwaMpesaWcfService_log.log"
				 formatter="Text Formatter"
				 maxArchivedFiles="9999"
				 traceOutputOptions="DateTime, ProcessId, ThreadId, Callstack"                                             rollFileExistsBehavior="Increment"
				 rollInterval="Day"
				 rollSizeKB="10000"
				 timeStampPattern="yyyy-MM-dd-hh-mm-ss" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			   template="Timestamp: {timestamp(local)}{newline}&#xA;
         Message: {message}{newline}&#xA;
         Category: {category}{newline}&#xA;
         Priority: {priority}{newline}&#xA;
         EventId: {eventid}{newline}&#xA;
         Severity: {severity}{newline}&#xA;
         Title:{title}{newline}&#xA;
         Machine: {localMachine}{newline}&#xA;
         App Domain: {localAppDomain}{newline}&#xA;
         ProcessId: {localProcessId}{newline}&#xA;
         Process Name: {localProcessName}{newline}&#xA;
         Thread Name: {threadName}{newline}&#xA;
         Win32 ThreadId:{win32ThreadId}{newline}&#xA;
         Extended Properties: {dictionary({key} - {value}{newline})}"
			   name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<exceptionHandling>
		<exceptionPolicies>

			<add name="DataAccessPolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="DataAccessLoggingHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   logCategory="General" eventId="100" severity="Error" title="Fanikiwa General Ledger Service"
							   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							   priority="0" />
							<add name="DataAccessReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   exceptionMessage="An unknown error has occurred in Data Access Layer while processing your request. Please contact Help Desk Support at Software Providers with Error Token ID {handlingInstanceID}."
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.DataAccessException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

			<add name="DataAccessCustomPolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="NotifyRethrow">
						<exceptionHandlers>
							<add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.DataAccessCustomException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

			<add name="PassThroughPolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="NotifyRethrow">
						<exceptionHandlers>
							<add name="PassThroughReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.PassThroughException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

			<add name="BusinessLogicPolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="BusinessLogicLoggingHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   logCategory="General" eventId="100" severity="Error" title="Fanikiwa General Ledger Service"
							   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							   priority="0" />

							<add name="BusinessLogicReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   exceptionMessage="An unknown error has occurred in Business Logic Layer while processing your request. Please contact Help Desk Support at Software Providers with Error Token ID {handlingInstanceID}."
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.BusinessLogicException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

			<add name="BusinessLogicCustomPolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="NotifyRethrow">
						<exceptionHandlers>
							<add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.BusinessLogicCustomException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

			<add name="UserInterfacePolicy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					   postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="UserInterfaceReplaceHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   logCategory="General" eventId="100" severity="Error" title="Fanikiwa General Ledger Service"
							   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							   priority="0" />
							<add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							   exceptionMessage="An error occurred at front end. please check."
							   replaceExceptionType="fanikiwaGL.Framework.ExceptionTypes.UserInterfaceException, fanikiwaGL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>

		</exceptionPolicies>
	</exceptionHandling>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<system.web>
		<customErrors mode="Off">
		</customErrors>
	</system.web>

	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>

	<connectionStrings>
		<add name="fGL" connectionString="server=.\sqlexpress;database=fGL;uid=sa;password=sa;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service behaviorConfiguration="mexBehavior" name="fanikiwaGL.Services.GeneralLedgerService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
				  contract="fanikiwaGL.Services.Contracts.IFinancialPostingService" />
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
				 contract="fanikiwaGL.Services.Contracts.IStaticTransactionsService" />
				<endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""  name="mex" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/GeneralLedgerService.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<serviceHostingEnvironment  minFreeMemoryPercentageToActivateService="0"  multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<appSettings>
		<!--Default accounts-->
		<add key="LOANREPAYMENTACCOUNT"  value="100"/>
		<add key="CASHACCOUNT" value="104" />
		<add key="COMMISSIONACCOUNT" value="105" />
		<add key="MPESACASHACCOUNT" value="106" />
		<!--Transaction Types-->
		<add key="CASHDEPOSITTRANSACTIONTYPE"  value="2"/>
		<add key="MPESADEPOSITTRANSACTIONTYPE"  value="6"/>
		<add key="CASHWITHDRAWALTRANSACTIONTYPE"  value="3"/>
		<add key="MPESAWITHDRAWALTRANSACTIONTYPE"  value="5"/>
		<add key="ESTABLISHLOANTRANSACTIONTYPE"  value="1"/>
		<add key="LOANDRAWTRANSACTIONTYPE"  value="1"/>
		<!-- Account creation default types-->
		<add key="CURRENT_ACC_TYPE_ID"  value="1"/>
		<add key="LOAN_ACC_TYPE_ID"  value="2"/>
		<add key="INVESTMENT_ACC_TYPE_ID"  value="3"/>
		<!--COA Ids-->
		<add key="CURRENT_ACC_COA_ID"  value="2"/>
		<add key="LOAN_ACC_COA_ID"  value="1"/>
		<add key="INVESTMENT_ACC_COA_ID"  value="1"/>
		<!--System Configs-->
		<add key="FANIKIWATELNO"  value="0715714457"/>
		<add key="FANIKIWAEMAIL"  value="info@softwareproviders.co.ke"/>
		<add key="FANIKIWAAGENT"  value="KISERIAN"/>
		<!--Modem configs-->
		<add key="Comm_Port" value="5" />
		<add key="Comm_BaudRate" value="460800" />
		<add key="Comm_TimeOut" value="5000" />
		<!--Service TimeOuts-->
		<add key="CloseTimeout" value="10" />
		<add key="OpenTimeout" value="10" />
		<add key="ReceiveTimeout" value="10" />
		<add key="SendTimeout" value="10" />
		<!--Mpesa Extracts-->
		<add key="_receipt_number" value="0" />
		<add key="_mpesa_amount" value="5" />
		<add key="_first_name" value="7" />
		<add key="_last_name" value="8" />
		<add key="_phone_number" value="9" />
		<add key="_date_sent" value="11" />
		<add key="_date_received" value="11" />
		<add key="_time_sent" value="13" />
		<add key="_am_pm" value="14" />
		<add key="_mpesa_balance" value="19" />
		<!--Event Tracing-->
		<add key="UseInprocEventTracing" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>


</configuration>